lib
bin
obj
.vs/
out/
/win32/
/x64/
/build/
googletest*

Makefile
CMakeFiles
CMakeCache*
cmake_*
*.o
*~
*#
#*
*.vcxproj
*.vcxproj.filters
*.sln
*.dir
hex2bin
hex2bin_gtest
src/config.h
coverage.xml
sample2.hex.temp